table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.myheder{
    width: 30%;


}


.songRow:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
}